.cart-icon-container {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .item-count {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    bottom: 12px;
    padding-right: 4px;
  }
}

@media screen and (max-width: 1024px) {
  .cart-icon-container {
    padding-right: 0;

    .item-count {
      font-size: 11.5px;
      padding-bottom: 3px;
      padding-left: 4px;
    }
  }
}
