.heart-container {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .item-count {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    bottom: 12px;
   
  }
}

@media screen and (max-width: 1024px) {
  .heart-container {

    .item-count {
      bottom: 17px;
      font-size: 10px;
    }
  }
}
