.mobile_btn {
  display: none;
}

.navigation {
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
  letter-spacing: 0.8px;
  color: #543019;
  font-size: 15px;
  font-weight: 400;
  max-width: 1300px;
  margin: auto;

  a,
  img {
    color: #543019;
    cursor: pointer;
  }

  .top-level-navigation {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0 0;
    border-bottom: 1px solid #d1cccc;

    .top-level-navigation-left {
      display: flex;
    }

    .top-level-navigation-left a {
      padding: 0 2rem;
    }

    .top-level-navigation-right {
      display: flex;
      align-items: center;

      .user-icon {
        padding-top: 3.6px;
      }
      .user-icon {
        margin-top: 1px;
      }

      img {
        padding-left: 2rem;
        width: 21px;
      }
    }

    .top-level-navigation-right :nth-child(3) {
      padding-bottom: 3.6px;
    }
  }

  .bottom-level-navigation {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

    & {
      color: #543019;
    }

    .mobile_btn {
      display: none;
    }

    .bottom-level-navigation-left {
      display: flex;
    }

    .bottom-level-navigation-left :nth-child(2),
    .bottom-level-navigation-left :nth-child(3) {
      padding-left: 2rem;
    }

    .bottom-level-navigation-right {
      display: flex;

      .stores-search {
        display: flex;
      }

      .stores-search :nth-child(2) {
        padding-left: 2rem;
      }
    }

    .bottom-level-navigation-right-with-heart-and-bag {
      display: none;
    }
  }

  .logo-container {
    margin-top: 1.5rem;
    padding-left: 5.6rem;
  }

  .app-icons-container {
    display: flex;
    justify-content: space-between;

    .app-icon-phone {
      padding-left: 1rem;
    }

    img {
      width: 21px;
    }

    .app-icon {
      padding-left: 1rem;
    }
  }
}

// Mobile

@media screen and (max-width: 1024px) {
  .mobile_btn {
    display: block;
    position: absolute;
    left: 1rem;
    cursor: pointer;
    z-index: 10;
    position: fixed;
  }

  .navigation {
    padding: 0rem;
    display: block;
    overflow-x: hidden;
    min-height: 14rem;
    font-size: 12px;

    .top-level-navigation {
      flex-direction: column;
      justify-content: center;
      margin: 1rem 0;
      font-size: 12px;
      padding: 0;

      .top-level-navigation-left {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 0.5rem;
        column-gap: 0.5rem;
      }

      .top-level-navigation-left a {
        padding: 0;
      }

      .top-level-navigation-right {
        transform: translateY(-30px);
        align-self: flex-end;
        padding-right: 2.2rem;

        img {
          margin: 0;
          padding: 0;
          width: 22px;
        }

        .cart-icon-container {
          transform: translateX(-12px);
          padding-top: 0.5px;
        }
      }
    }

    .bottom-level-navigation {
      flex-direction: column;
      display: block;
      text-align: center;

      .logo-container {
        padding: 0;
      }

      .bottom-level-navigation-left {
        justify-content: center;
        margin-bottom: 1rem;
      }

      .bottom-level-navigation-right {
        margin-top: 1rem;

        justify-content: center;

        .app-icons-container {
          .app-icon-phone {
            padding-left: 1rem;
          }
        }
      }
    }
  }
}
