.navigation {
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
  letter-spacing: 0.8px;
  color: #543019;
  font-size: 15px;
  font-weight: 400;

  a {
    color: #543019;
  }

  .top-level-navigation {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border-bottom: 1px solid #d1cccc;
  }

  .bottom-level-navigation {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

    & {
      color: #543019;
    }
  }

  .logo-container {
    margin-top: 1.5rem;
  }
}
