.navigation {
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
  letter-spacing: 0.8px;
  color: #543019;
  font-size: 15px;
  font-weight: 400;

  a,
  img {
    color: #543019;
    cursor: pointer;
  }

  .top-level-navigation {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border-bottom: 1px solid #d1cccc;

    .top-level-navigation-left {
      display: flex;
    }

    .top-level-navigation-left a {
      padding: 0 2rem;
    }

    .top-level-navigation-right {
      display: flex;
      align-items: center;

      img {
        padding-left: 2rem;
        width: 21px;
      }
    }

    .top-level-navigation-right :nth-child(3) {
      padding-bottom: 3.6px;
    }
  }

  .bottom-level-navigation {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

    & {
      color: #543019;
    }
  }

  .logo-container {
    margin-top: 1.5rem;
  }
}
