.picked-tea {
  max-width: 1300px;
  text-align: center;
  margin: 5rem auto;

  .picked-tea-title-container {
    display: flex;
    margin-bottom: 6rem;
    justify-content: center;
    align-items: center;

    .picked-tea-heart :nth-child(1) {
      margin-top: 0.3rem;
      width: 32.5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h2 {
      font-size: 2.5rem;
      font-weight: 300;
      text-align: center;
      color: #27160e;
      margin-right: 1rem;
    }

    button {
      border: none;
    }
  }

  .picked-tea-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;

    .axis-horizontal {
      height: 30rem;
      width: 30rem;
    }

    .thumbs-wrapper {
      width: 80%;
      margin: auto;
      display: flex;
    }

    .control-arrow {
      display: none;
    }

    .carousel {
      .thumbs {
        display: flex;

        .thumb {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 4.6rem;
        }

        .selected {
          border: 1px solid #d1cccc;

          img {
            height: 100%;
          }
        }
      }
    }

    .picked-tea-right-col {
      display: flex;

      .product-card-footer {
        border: 1px solid #e1e1e1;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .product-card-footer-price {
          font-size: 2.5rem;
          font-weight: 300;
          margin-bottom: 3rem;
        }

        .bag-button {
          border: none;
          background-color: #47160e;
          border: none;
          cursor: pointer;
          width: 80%;
          margin: 0 auto;

          img {
            width: 20px;
            padding: 18px 30px;
          }
        }

        .favorite-icon-private-container {
          button {
            margin-top: 3rem;
            border: none;
            padding: 18px 0;
          }
        }

        .favorite-icon-private-container {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .picked-tea-description {
        padding: 0 0px;
        text-align: left;
        color: #544241;
        letter-spacing: 0.8px;
        font-size: 15px;

        p {
          width: 85%;
          line-height: 1.7;
          padding-bottom: 30px;
          border-bottom: 1px solid #e1e1e1;
        }

        .picked-tea-consist {
          width: 100%;

          h4 {
            margin-top: 1rem;
            font-weight: 200;
            font-size: 18px;
          }

          .picked-tea-consist-items {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 3rem;
            column-gap: 4rem;
            .picked-tea-consist-item {
              margin-top: 30px;
              width: 5rem;
              height: 5rem;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }

        .picked-tea-taste {
          border-top: 1px solid #e1e1e1;
          margin-top: 2rem;
          width: 85%;

          h4 {
            margin-top: 1rem;
            font-weight: 200;
            font-size: 18px;
          }
        }
      }
    }
  }
}
