.real-life-tea-container {
  text-align: center;

  h2 {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    color: #27160e;
  }

  p {
    width: 60%;
    margin: auto;
    letter-spacing: 0.8px;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 3rem;
  }

  .delicious-page-bg {
    height: 20rem;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 94.5%;
    margin: auto;

    .gradient-styled {
      width: 100%;
      height: 100%;
      background: rgba(43, 10, 10, 0.5);
    }
    margin-bottom: 3rem;
  }

  .tea-section-catalogue {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
}
