button {
  background: none;
}

.product-card-container {
  min-height: 470px;
  display: flex;
  flex-direction: column;

  align-items: center;
  position: relative;

  border: 1px solid #eeeeee;
  padding: 30px;

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .category-body-container {
      opacity: 0.9;
    }
    // }
  }
  .product-card-header {
    width: 90%;
    display: flex;
    justify-content: space-between;

    .heart-btn {
      border: none;
      background: none;
      cursor: pointer;
    }

    img {
      width: 22px;
      height: 22px;
      padding: 0 5px;
    }

    .product-card-header-icons-container {
      display: flex;
    }
  }

  .product-card-main {
    color: #27160e;

    .img-anime-container {
      width: 180px;
      height: 180px;
      position: relative;
      margin: 30px;
      margin: auto;

      .img1,
      .img2 {
        border-radius: 50%;
      }

      .img1 {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      .img2 {
        z-index: 9;
        width: 100%;
        height: 100%;
      }

      @keyframes diagonal-move-anim {
        0% {
          transform: translate(0, 0);
        }

        100% {
          transform: translate(150px, -220px);
        }
      }
    }

    h2 {
      font-weight: 300;
      font-size: 23px;
    }

    h3 {
      font-weight: 400;
      font-size: 21px;
    }
    h3:before {
      content: '$';
      font-size: 15px;
      font-family: 'Poppins', sans-serif;
    }

    p {
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.5px;
      width: 80%;
      margin: auto;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .product-card-footer {
    height: 100%;
    width: 100%;
    // background: red;
    margin-top: 30px;

    button {
      background-color: #47160e;
      background: #785448;
      border: none;
      cursor: pointer;

      img {
        width: 20px;
        padding: 18px 30px;
      }
    }
  }
}
