.checkout-bag {
  margin-top: 5rem;
  max-width: 1300px;
  margin: auto;
  margin-bottom: 5rem;

  h2 {
    margin: 5rem 0;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    color: #27160e;
  }

  .checkout-bag-container {
    display: grid;
    grid-template-columns: 60% 35%;
    grid-template-columns: 2fr 1fr;
    column-gap: 5%;

    margin-right: 2rem;

    .checkout-bag-empty-bg {
      height: 500px;
      width: 500px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

    }

    .checkout-process {
      padding: 2.5rem;
      height: 30rem;

      border: 1px solid rgb(225, 225, 225);
      display: flex;
      justify-content: center;
      color: #27160e;
      // background: red;

      .checkout-process-dollar {
        font-size: 32px;
        font-weight: 300;
      }

      .checkout-process-container {
        img {
          opacity: 0.5;
        }

        a {
          width: 87%;
          height: 52px;
          letter-spacing: 0.5px;
          line-height: 50px;
          padding: 0 25px;
          font-size: 15px;
          background-color: #785448;
          color: white;
          text-transform: uppercase;
          font-family: 'Lora', serif;
          border: none;
          cursor: pointer;
          display: flex;
          justify-content: center;

          &:hover {
            background-color: white;
            color: rgb(84, 48, 25);
            border: 1px solid #785448;
          }
        }
      }

      .coupon-input-container {
        display: flex;
        // background: green;

        input {
          border: 1px solid rgb(225, 225, 225);
          border-right: none;
          width: 100%;

          &:hover,
          &:active,
          &:focus {
            background-color: white;
            color: rgb(84, 48, 25);
            border: 1px solid #785448;
            border-radius: 0;
          }
        }
        button {
          width: auto;
          height: 50px;
          letter-spacing: 0.5px;
          line-height: 50px;
          padding: 0 25px;
          font-size: 15px;
          background-color: #785448;
          color: white;
          text-transform: uppercase;
          font-family: 'Lora', serif;
          border: none;
          cursor: pointer;
          display: flex;
          justify-content: center;

          &:hover {
            background-color: white;
            color: rgb(84, 48, 25);
            border: 1px solid #785448;
          }
        }
      }
    }

    .cart-items {
      // border-bottom: 1px solid rgb(225, 225, 225);
    }
  }

  .checkout-bag-container-empty {
    display: flex;
    justify-content: center;

    .checkout-bag-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      .checkout-bag-empty-bg {
        height: 300px;
        width: 300px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      button {
        border: none;
        background: #552f1c;
        color: white;
        font-family: 'IBM Plex Serif', serif;
        letter-spacing: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 35px 20px 35px;
        font-size: 13px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        font-weight: 300;
        font-family: 'Poppins', sans-serif;
      }
    }
  }
}




@media screen and (max-width: 1024px) {
  .checkout-bag {
    margin-top: 1rem;
    margin-bottom: 1rem;
    // background: pink;
  

  
    h2 {
      margin: 2rem 0;
      font-size: 2rem;
    }

    .checkout-bag-container {
      grid-template-columns: 100%;
      margin: auto;


    .checkout-bag-empty-bg {
      height: 0;
      width: 0;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
     
    }

    .checkout-process {
      padding: 0;
      height: 30rem;
      width: 100%;

      img {
        width: 90%;
      }

      .checkout-process-containe {
        background: red;
      }

    }
    }
  }
}