.real-life-tea-container {
  margin-bottom: 5rem;
}

.relaxing-tea-page-bg {
  height: 20rem;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 94.5%;
  margin: auto;
}
