.cart-dropdown-container {
  position: absolute;
  width: 240px;
  height: 260px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  top: 122px;
  right: 40px;
  z-index: 5;


  img {
    width: 30%;
    margin: auto;
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin-bottom: 20px;
  }

  button {
    margin-top: 20px;
  }
  .cart-dropdown-total {
    align-self: flex-end;
  }
}

.empty-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
